/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height-mobile: 80px;
  --header-height-desktop: 80px;
  --sidebar-width: 288px;
  --player-bar-height: 64px;
  /* 新增底部导航栏高度 */
  --bottom-nav-height: 64px;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
  /* 隐藏滚动条但保留滚动功能 */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
